@forward "./resets";
@forward "./button";
@forward "./forms";
@use "./colors" as *;
@use "./fonts" as *;
@use "./mixins" as *;

html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.scroll-down nav {
  padding-block: 1rem;
}

body {
  background-color: $primaryClr;
  color: $secondaryClr;
  font-family: $interFont;

  header {
    @include flexProp(flex-end, none, none, none);
    position: fixed;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(100px);
  }
}

main {
  @include flexProp(center, center, none, 1.9375rem);
  height: 100vh;
  position: relative;
  text-align: center;

  .main-wrapper {
    @include flexProp(none, none, column, 2rem);
    transform: translateY(-7rem);

    .main-title {
      font-size: clamp(4rem, 10vw, 9.375rem);
      font-family: $mainFont-bold;
    }

    .main-body {
      font-size: clamp(1rem, 3vw, 1.875rem);
      opacity: 0.5;
      line-height: 1.5;
      width: 30ch;
      margin: 0 auto;
    }
  }

  .main-banner {
    @include flexProp(space-around, center, none, none);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-block: 2rem;
    background-color: $accentClr;
    color: $primaryClr;

    h1 {
      font-size: clamp(0.5rem, 1vw, 1.2rem);
    }
  }
  .hanging-clothes {
    position: absolute;
    top: 0;
    left: 0;
    width: min(400px, 50vw);
    z-index: 1;
  }

  .washing-machine {
    position: absolute;
    right: 0;
    bottom: 5rem;
    width: min(600px, 80%);
    z-index: -1;
  }

  .iron-cloth {
    position: absolute;
    bottom: 5rem;
    left: 5rem;
    width: 300px;
  }
}
